In [103]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [104]:
dataHP = pd.read_csv('train_HP.csv')
dataHP.shape

(1460, 81)

In [105]:
dataHP.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

# Tarea #1

In [106]:
'''Listado de columnas con NA datos'''

cols_con_na = [col for col in dataHP.columns if (dataHP[col].isnull().mean() > 0)]
cols_con_na

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [107]:
'''Total de columnas que poseen datos nulos'''

len(cols_con_na)

19

In [108]:
'''Tipo de datos con NA'''

dataHP[cols_con_na].dtypes

LotFrontage     float64
Alley            object
MasVnrType       object
MasVnrArea      float64
BsmtQual         object
BsmtCond         object
BsmtExposure     object
BsmtFinType1     object
BsmtFinType2     object
Electrical       object
FireplaceQu      object
GarageType       object
GarageYrBlt     float64
GarageFinish     object
GarageQual       object
GarageCond       object
PoolQC           object
Fence            object
MiscFeature      object
dtype: object

In [109]:
'''
Tomando unicamente las columnas
que poseen nulos, hacemos un dataset
'''

dataset_tarea1 = dataHP[cols_con_na]
dataset_tarea1.head()

,LotFrontage,Alley,MasVnrType,MasVnrArea,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinType2,Electrical,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageQual,GarageCond,PoolQC,Fence,MiscFeature
0,65.0,NaN,BrkFace,196.0,Gd,TA,No,GLQ,Unf,SBrkr,NaN,Attchd,2003.0,RFn,TA,TA,NaN,NaN,NaN
1,80.0,NaN,None,0.0,Gd,TA,Gd,ALQ,Unf,SBrkr,TA,Attchd,1976.0,RFn,TA,TA,NaN,NaN,NaN
2,68.0,NaN,BrkFace,162.0,Gd,TA,Mn,GLQ,Unf,SBrkr,TA,Attchd,2001.0,RFn,TA,TA,NaN,NaN,NaN
3,60.0,NaN,None,0.0,TA,Gd,No,ALQ,Unf,SBrkr,Gd,Detchd,1998.0,Unf,TA,TA,NaN,NaN,NaN
4,84.0,NaN,BrkFace,350.0,Gd,TA,Av,GLQ,Unf,SBrkr,TA,Attchd,2000.0,RFn,TA,TA,NaN,NaN,NaN

In [110]:
'''
Creamos una formula donde indentificamos los datos type'object'
e imputamos los datos con menos occurencias en los datos nulos
'''

def imputar_valores_nulos_object(dataset_tarea1):
  
    columnas_object = dataset_tarea1.select_dtypes(include=['object']).columns

    for columna in columnas_object:
        valor_menos_comun = dataset_tarea1[columna].value_counts().idxmin()
        dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)

    return dataset_tarea1

In [111]:
dataHP_sin_nulos= imputar_valores_nulos_object(dataset_tarea1)
print(dataHP_sin_nulos)

      LotFrontage Alley MasVnrType  MasVnrArea BsmtQual BsmtCond BsmtExposure  \
0            65.0  Pave    BrkFace       196.0       Gd       TA           No
1            80.0  Pave       None         0.0       Gd       TA           Gd
2            68.0  Pave    BrkFace       162.0       Gd       TA           Mn
3            60.0  Pave       None         0.0       TA       Gd           No
4            84.0  Pave    BrkFace       350.0       Gd       TA           Av
...           ...   ...        ...         ...      ...      ...          ...
1455         62.0  Pave       None         0.0       Gd       TA           No
1456         85.0  Pave      Stone       119.0       Gd       TA           No
1457         66.0  Pave       None         0.0       TA       Gd           No
1458         68.0  Pave       None         0.0       TA       TA           Mn
1459         75.0  Pave       None         0.0       TA       TA           No

     BsmtFinType1 BsmtFinType2 Electrical FireplaceQu GarageType  GarageYrBlt  \
0             GLQ          Unf      SBrkr          Po     Attchd       2003.0
1             ALQ          Unf      SBrkr          TA     Attchd       1976.0
2             GLQ          Unf      SBrkr          TA     Attchd       2001.0
3             ALQ          Unf      SBrkr          Gd     Detchd       1998.0
4             GLQ          Unf      SBrkr          TA     Attchd       2000.0
...           ...          ...        ...         ...        ...          ...
1455          Unf          Unf      SBrkr          TA     Attchd       1999.0
1456          ALQ          Rec      SBrkr          TA     Attchd       1978.0
1457          GLQ          Unf      SBrkr          Gd     Attchd       1941.0
1458          GLQ          Rec      FuseA          Po     Attchd       1950.0
1459          BLQ          LwQ      SBrkr          Po     Attchd       1965.0

     GarageFinish GarageQual GarageCond PoolQC  Fence MiscFeature
0             RFn         TA         TA     Ex   MnWw        TenC
1             RFn         TA         TA     Ex   MnWw        TenC
2             RFn         TA         TA     Ex   MnWw        TenC
3             Unf         TA         TA     Ex   MnWw        TenC
4             RFn         TA         TA     Ex   MnWw        TenC
...           ...        ...        ...    ...    ...         ...
1455          RFn         TA         TA     Ex   MnWw        TenC
1456          Unf         TA         TA     Ex  MnPrv        TenC
1457          RFn         TA         TA     Ex  GdPrv        Shed
1458          Unf         TA         TA     Ex   MnWw        TenC
1459          Fin         TA         TA     Ex   MnWw        TenC

[1460 rows x 19 columns]

C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)
C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\937687890.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columna] = dataset_tarea1[columna].fillna(valor_menos_comun)

### Comprobar si la funcional def imputar_valores_nulos_object

In [112]:
'''Cantidad de nulos en la columna MasVnrType'''
dataHP['MasVnrType'].isnull().sum()

8

In [113]:
'''Comprambamos como eran los datos antes de la imputacion de datos nulos'''
dataHP['MasVnrType'].value_counts().sort_values(ascending=False)

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [114]:
'''Comprambamos como son los datos tras imputar los datos nulos utilizando el valor con menos datos'''
dataHP_sin_nulos['MasVnrType'].value_counts().sort_values(ascending=False)

None       864
BrkFace    445
Stone      128
BrkCmn      23
Name: MasVnrType, dtype: int64

### Conclusion: Existian 8 datos nulos de la columna MasVnrType. Estos fueron sustituidos por BrkCmn ya que este era el que poseia menos datos

### Imputacion de los valores Numericos

In [115]:
'''
Creamos una formula donde indentificamos los datos type'float64'
e imputamos los datos con la media y mediana
'''

def imputar_valores_nulos_float(dataset_tarea1):
    # Obtener las columnas de tipo float64
    columnas_float = dataset_tarea1.select_dtypes(include=['float64']).columns

    # Calcular la media y mediana de las columnas float64
    medias = dataset_tarea1[columnas_float].mean()
    medianas = dataset_tarea1[columnas_float].median()

    # Imputar los valores nulos utilizando la media
    dataset_tarea1[columnas_float] = dataset_tarea1[columnas_float].fillna(medias)

    return dataset_tarea1

In [116]:
dataHP_sin_nulos2 = imputar_valores_nulos_float(dataHP_sin_nulos)
print(dataHP_sin_nulos2)

      LotFrontage Alley MasVnrType  MasVnrArea BsmtQual BsmtCond BsmtExposure  \
0            65.0  Pave    BrkFace       196.0       Gd       TA           No
1            80.0  Pave       None         0.0       Gd       TA           Gd
2            68.0  Pave    BrkFace       162.0       Gd       TA           Mn
3            60.0  Pave       None         0.0       TA       Gd           No
4            84.0  Pave    BrkFace       350.0       Gd       TA           Av
...           ...   ...        ...         ...      ...      ...          ...
1455         62.0  Pave       None         0.0       Gd       TA           No
1456         85.0  Pave      Stone       119.0       Gd       TA           No
1457         66.0  Pave       None         0.0       TA       Gd           No
1458         68.0  Pave       None         0.0       TA       TA           Mn
1459         75.0  Pave       None         0.0       TA       TA           No

     BsmtFinType1 BsmtFinType2 Electrical FireplaceQu GarageType  GarageYrBlt  \
0             GLQ          Unf      SBrkr          Po     Attchd       2003.0
1             ALQ          Unf      SBrkr          TA     Attchd       1976.0
2             GLQ          Unf      SBrkr          TA     Attchd       2001.0
3             ALQ          Unf      SBrkr          Gd     Detchd       1998.0
4             GLQ          Unf      SBrkr          TA     Attchd       2000.0
...           ...          ...        ...         ...        ...          ...
1455          Unf          Unf      SBrkr          TA     Attchd       1999.0
1456          ALQ          Rec      SBrkr          TA     Attchd       1978.0
1457          GLQ          Unf      SBrkr          Gd     Attchd       1941.0
1458          GLQ          Rec      FuseA          Po     Attchd       1950.0
1459          BLQ          LwQ      SBrkr          Po     Attchd       1965.0

     GarageFinish GarageQual GarageCond PoolQC  Fence MiscFeature
0             RFn         TA         TA     Ex   MnWw        TenC
1             RFn         TA         TA     Ex   MnWw        TenC
2             RFn         TA         TA     Ex   MnWw        TenC
3             Unf         TA         TA     Ex   MnWw        TenC
4             RFn         TA         TA     Ex   MnWw        TenC
...           ...        ...        ...    ...    ...         ...
1455          RFn         TA         TA     Ex   MnWw        TenC
1456          Unf         TA         TA     Ex  MnPrv        TenC
1457          RFn         TA         TA     Ex  GdPrv        Shed
1458          Unf         TA         TA     Ex   MnWw        TenC
1459          Fin         TA         TA     Ex   MnWw        TenC

[1460 rows x 19 columns]

C:\Users\Jose L\AppData\Local\Temp\ipykernel_21920\1268731895.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset_tarea1[columnas_float] = dataset_tarea1[columnas_float].fillna(medias)

### Comprobar si funciona def imputar_valores_nulos_float

In [117]:
'''Cantidad de nulos en la columna GarageYrBlt'''
dataHP['GarageYrBlt'].isnull().sum()

81

In [118]:
'''Cantidad de nulos en la columna GarageYrBlt'''
dataHP_sin_nulos2['GarageYrBlt'].isnull().sum()

0

### Conclusion: Existian 81 datos nulos de la columna GarageYrBlt. Estos fueron sustituidos por la media y mediana y ahorra hay 0 nulos

# Converir las columnas de categoria('object') a tipo numerico

In [119]:
'''
De nuestro ultimo dataframe dataHP_sin_nulos2 (el cual ya no poseee nulos) tomamos las columnas type object.
Creamos un nuevo dataframe (tabla) el cual contendra el dato original de la tabla y su equivalencia a numerico. 
El dato numerico es igual al value_counts() del dato original
'''
def convertir_columnas_object_a_numerico(dataHP_sin_nulos2):
  
    columnas_object = dataHP_sin_nulos2.select_dtypes(include=['object']).columns

    tabla = pd.DataFrame(columns=['Dato_Object', 'Dato_Numerico'])

    for columna in columnas_object:
        frecuencia_mapper = dataHP_sin_nulos2[columna].value_counts().reset_index()
        frecuencia_mapper.columns = ['Dato_Object', 'Dato_Numerico']
        tabla = pd.concat([tabla, frecuencia_mapper])

    return tabla

In [120]:
tabla_conversion = convertir_columnas_object_a_numerico(dataHP_sin_nulos2)
print(tabla_conversion)

   Dato_Object Dato_Numerico
0         Pave          1410
1         Grvl            50
0         None           864
1      BrkFace           445
2        Stone           128
..         ...           ...
3         GdWo            54
0         TenC          1407
1         Shed            49
2         Gar2             2
3         Othr             2

[70 rows x 2 columns]